* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.container {
    padding: 120px 80px;
}

.secao-banner {
    background-image: url("../assets/banner-topo.jpg");
    background-position: center;
    background-size: cover;
}

.container-logo {
    max-width: 250px;
    color: #3c184e;
}

.nome-pet-shop {
    font-size: 35px;
    margin: 35px 0 5px 0;
}

.nome-pet-shop img {
    width: 30px;
    margin-right: 5px;
}

.frase-slogan {
    font-size: 14px;
    text-align: center;
}

.container-fale-conosco {
    max-width: 1024px;
    border-radius: 5px;
    padding: 40px;
    margin: 70px auto 0 auto;
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px #1f26875e;
}

.titulo-container-fale-conosco {
    font-size: 60px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin: 0 0 40px 0;
}

.paragrafo-container-fale-conosco {
    width: 200px;
    padding: 10px 25px 10px 25px;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    background-color: #3c184e;
    font-size: 20px;
    text-align: center;
}

.link-paragrafo-container-fale-conosco {
    color: #ffff;
    width: 20px;
}

.link-paragrafo-container-fale-conosco img {
    width: 20px;
    margin-left: 6px;
}



