* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.container {
    padding: 120px 80px;
}

h3 {
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 40px 0;
}

.secao-banner {
    background-image: url("../images/banner-topo.jpg");
    background-position: center;
    background-size: cover;
}

.container-logo {
    max-width: 250px;
    color: #3c184e;
}

.nome-pet-shop {
    font-size: 35px;
    margin: 35px 0 5px 0;
}

.nome-pet-shop img {
    width: 30px;
    margin-right: 5px;
}

.frase-slogan {
    font-size: 14px;
    text-align: center;
}

.container-fale-conosco {
    max-width: 1024px;
    border-radius: 5px;
    padding: 40px;
    margin: 70px auto 0 auto;
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px #1f26875e;
}

.titulo-container-fale-conosco {
    font-size: 60px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin: 0 0 40px 0;
}

.paragrafo-container-fale-conosco {
    width: 200px;
    padding: 10px 25px 10px 25px;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    background-color: #3c184e;
    font-size: 20px;
    text-align: center;
}

.link-paragrafo-container-fale-conosco {
    color: #ffff;
    width: 20px;
}

.link-paragrafo-container-fale-conosco img {
    width: 20px;
    margin-left: 6px;
}

.container-lista-secao-servicos {
    max-width: 740px;
    margin: 0 auto 50px auto;
    color: #3c184e;
}

.itens-lista-secao-servicos {
    font-size: 20px;
    margin: 0 0 20px 0;
}

span {
    font-weight: 700;
    font-style: italic;
}

.container-imagens-secao-servicos {
    max-width: 800px;
    margin: 0 auto 0 auto;
    text-align: center;
}

.imagens-secao-servicos {
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px #0000005c;
}

.faixas {
    background-color: #3c184e;
    text-align: center;
}

.paragrafo-faixas {
    max-width: 800px;
    margin: 0 auto 50px auto;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.container-links-faixas {
    text-align: center;
}

.links-faixas {
    margin: 0 20px;
}

.icones-redes-sociais-faixas {
    width: 50px;
    height: 50px;
}

.container-imagens-secao-marcas {
    text-align: center;
}

.imagens-secao-marcas {
    width: 148px;
    height: 148px;
    margin: 0 15px 0 15px;
}

